.json-textarea-container{
    margin: 50px;
}

.json-textarea-block {
    display: flex;
}

.block-one {
    flex: 1;
}

.block-two {
    display: flex;
    flex: 1;
    height: 600px;
}

.option-list-container {
    flex: 1;
    background-color: aqua;
}

.option-autocomplete-container {
    flex: 1;
    background-color: skyblue;
}
